<div class="row">
    <h1>Formación Académica</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Universitario</h1>-<h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, cumque consequatur incidunt autem accusamus quaerat facere voluptates perspiciatis aliquam maiores beatae ratione. Ut odit aspernatur doloremque obcaecati inventore necessitatibus quis.</p>
        </ul>
        <ul>
            <li><h1>Terciario</h1>-<h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, cumque consequatur incidunt autem accusamus quaerat facere voluptates perspiciatis aliquam maiores beatae ratione. Ut odit aspernatur doloremque obcaecati inventore necessitatibus quis.</p>
        </ul>
        <ul>
            <li><h1>Cursos</h1>-<h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, cumque consequatur incidunt autem accusamus quaerat facere voluptates perspiciatis aliquam maiores beatae ratione. Ut odit aspernatur doloremque obcaecati inventore necessitatibus quis.</p>
        </ul>
    </div>
</div>

